<div class="chartContainer">
  <canvas class="chart"
    baseChart
    [datasets]="pieChartData"
    [labels]="pieChartLabels"
    [type]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend"
  >
  </canvas>


  <!-- <canvas baseChart class="chart"
        [data]="pieChartData"
        [type]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins">
        </canvas> -->

</div>

<mat-divider style="margin: 1em 0;"></mat-divider>

